services:
  # ボット本体
  bot:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - voicevox  # voicevoxが起動してからbotを起動する
    environment:
      - VOICEVOX_URL=http://voicevox:50021
      - PREFIX=?
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - UNITE_RESET_PASSWORD=${UNITE_RESET_PASSWORD}

  # VOICEVOXエンジン
  voicevox:
    image: voicevox/voicevox_engine:cpu-ubuntu20.04-latest
    restart: always
    ports:
      - "50022:50021"
    tty: true
    logging:
      driver: "none"
  # PostgreSQLデータベース
  db:
    image: postgres:15
    volumes:
      - ./cogs/SQL/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data:/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}