services:
  # ボット本体
  bot:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - voicevox  # voicevoxが起動してからbotを起動する
    environment:
      # Docker内では "localhost" ではなく "サービス名(voicevox)" で通信します
      - VOICEVOX_URL=http://voicevox:50021

  # VOICEVOXエンジン (ずんだもん達の本体)
  voicevox:
    image: voicevox/voicevox_engine:cpu-ubuntu20.04-latest
    restart: always
    ports:
      - "50022:50021"
    tty: true
    logging:
      driver: "none"